/* some default styles to make the view more native like */

html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: scroll;

  /* Force the default cursor, even on text */
  cursor: default;
  width:100vw;
  height:100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

.style-finds {
  display:flex;
  white-space: nowrap;
}
.style-finds .style-header{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  font-weight:bold;
  letter-spacing:1px;
  border-bottom:1px solid #eeeeee;
}
.item-found{
  cursor:pointer;
  display:flex;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  font-size:13px;
}
.item-details{
  width:20px;
  height:20px;
  border-radius: 20px;
}
.item-found-header{
  height:20px;
  padding-right:10px;
}
.item-found:hover {
    background:#eeeeee;
}
.item-found-body{
  margin: auto;
  font-size:13px;
  padding-left:10px;
  height:20px;
}
.item-found-body > .item-found-body-header{
    transform:translate(0%, -50%);
    position:relative;
    display:inline-block;
    top:50%;
}
.item-found-body > .item-found-body-item{
  display:none;
}
.item-found[render-type='color'] .item-details{
  color:transparent;
  font-size:1px;
}