/* some default styles to make the view more native like */

html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

.style-finds{
  display:flex;
}
.color-found{
  display:block;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
}
.color-icon{
  display:block;
  width:20px;
  height:20px;
  border-radius: 20px;
}
.color-found-header{
  float:left;
  height:20px;
  padding-right:10px;
}
.color-found-body{
  margin: auto;
  font-size:13px;
  padding-left:10px;
  height:20px;
  width:100%;
}
.color-found-body > .color-found-body-header{
    transform:translate(0%, -50%);
    position:relative;
    top:50%;
}
.color-found-body > .color-found-body-item{
  display:none;
}