/* some default styles to make the view more native like */

html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

.color-found{
  width:100vw;
  display:block;
}
.color-icon{
  display:inline-block;
  width:10px;
  height:10px;
  border-radius: 10px;
}
.color-found-header{
  float:left;
}
.color-found-body{
  font-size:10px;
}
.color-found-body > .color-found-body-item{
  display:none;
}